* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  font-size: 1.6rem;
}

.page1 {
  background-image: url(./assets/mountains-universe-1\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Fixa a imagem de fundo na posição enquanto o conteúdo rola */
  background-position: center; /* Centraliza a imagem */
  margin: 0; /* Remove margens padrão do body */
  padding: 0; /* Remove preenchimentos padrão do body */
  height: 100vh; /* Garante que o body ocupe 100% da altura da tela do usuário */
  overflow: hidden;

}

.page2 {
  background-image: url(./assets/mountains-universe-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Fixa a imagem de fundo na posição enquanto o conteúdo rola */
  background-position: center; /* Centraliza a imagem */
  margin: 0; /* Remove margens padrão do body */
  padding: 0; /* Remove preenchimentos padrão do body */
  height: 100vh; /* Garante que o body ocupe 100% da altura da tela do usuário */
  overflow: hidden;
}

.page3 {
  background-image: url(./assets/mountains-universe-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Fixa a imagem de fundo na posição enquanto o conteúdo rola */
  background-position: center; /* Centraliza a imagem */
  margin: 0; /* Remove margens padrão do body */
  padding: 0; /* Remove preenchimentos padrão do body */
  height: 100vh; /* Garante que o body ocupe 100% da altura da tela do usuário */
  overflow: hidden;
}

.page1 main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

 button {
  margin-top: 5rem;
  margin-bottom: 20rem;
  padding: 2rem;
  border-radius: 5px;
  background: transparent;
  color: white;
  border: 1.5px solid white;
  width: 20rem;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;

}



.navbar {
  display: flex; /* Define o layout flexível para o navbar */
  align-items: center; /* Centraliza verticalmente os itens do navbar */
  height: 10rem;
  justify-content: left;
  padding: 7rem;
}

ul.list {
  list-style: none;
  display: flex;
  gap: 1px;
  
}

.list li {
  display: inline-block;
  margin-left: 7rem;
}

img.universe {
display: flex;
align-items: center;
margin-left: 3rem;
}

a {
  color: grey;
  text-decoration: none;
 
}

a:hover {
  color: white;
  font-weight: bold;
}

.page2 h1, .page3 h1 {
  margin-left: 11rem;;
  margin-top: 15rem;

}

.page2 p, .page3 p {

  width: 64rem;

  margin-left: 11rem;
  margin-top: 3rem;

}

p {
  line-height: 3.5rem;
  text-align: justify;
  font-size: 1.8rem;
}

h1 {
  font-weight: bold;
  font-size: 4.8rem;
}

